<h1>Log In</h1>
<br>

<div class="login-signup">

<%= form_tag login_path do |f| %>

  <p>
    <%= label_tag :username, "Username" %><br>
    <%= text_field_tag :username %><br>
  </p>

  <p>
    <%= label_tag :password, "Password" %><br>
    <%= password_field_tag :password %><br><br>
  </p>

    <%= submit_tag "Log In" %>

    <% end %>

</div>
