
<% current_user.games.each_with_index do |game, i |  %>

		<p><span>Game<span>:<%= i+1  %> </p>
		<p> Score: <%= game.score  %></p>
		<p>Scrabble Score: <%= game.scrabble_score %> </p>
		<p>Level <%= game.level  %> </p>
		<p>Lines <%= game.lines  %> </p>
		<p><span id="cut">================<span></p>
<% end %>


