<header class="clearfix">
	<ul class="nav nav-pills">
	  <li> <%= link_to 'Home', root_path, class: "active" %></li>
	  <li> <%= link_to 'Scores', games_path %> </li>
	  <% if current_user %>
	   <li><%= link_to 'Profile', profile_path , class: "active" %></li>
	   <li><%= link_to 'Logout', logout_path , class: "active" %></li>
	  <% else %>
	   <li><%= link_to 'Sign Up',signup_path , class: "active" %></li>
	   <li><%= link_to 'Log In', login_path, class: "active" %></li>
	 <% end %>
	 	<li><%= link_to 'Play Game', new_game_path, 'data-no-turbolink' => true %></li>
	</ul>
	<div class="logo">
		<h2>Tetroggleable</h2>
	</div>
</header>
